td.changed {
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
    color: rgb(15, 81, 50) !important;
}

td {
    transition: background-color 0.5s linear;
}

tr {
    vertical-align: middle;
    text-align: center;
}

i {
    pointer-events: none;
}

label {
    width: 100%;
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

#hideMessagesDropdown .dropdown-item-text {
    display: flex;
    align-items: center;
}

#pinout img {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#adapter img {
    max-height: 100%;
    max-width: 100%;
}

html, body {
    height: 100%;
}

.tab-content {
    height: 100%;
    overflow: auto;
}